{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "debug": true
    }],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-syntax-object-rest-spread"],
  "env": {
    "test": {
      "presets": [["es2015"], "react"]
    }
  }
}
