{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "extends": ["eslint:all", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
  },
  "rules": {
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", 120],
    "no-magic-numbers": ["error", { "ignore": [0] }],
    "one-var": ["error", {"const": "never"}],
    "operator-linebreak": ["error", "after"],
    "padded-blocks": ["error", {"blocks": "never", "classes": "always", "switches": "never" }],
    "quotes": ["error", "single"],
    "quote-props": ["error", "consistent-as-needed"],
    "require-jsdoc": 0,
    "semi": ["error", "never"],
  },
}
