{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
  },
  "extends": ["eslint:all", "plugin:react/all", "plugin:jest/recommended"],
  "parser": "babel-eslint",
  "plugins": [
    "jest",
    "react"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "class-methods-use-this": ["error", {
      "exceptMethods": [
        "componentDidMount",
        "componentDidUpdate",
        "componentWillMount",
        "componentWillReceiveProps",
        "componentWillUnmount",
        "componentWillUpdate",
        "getChildContext",
        "getDefaultProps",
        "getInitialState",
        "render",
        "shouldComponentUpdate",
      ],
    }],
    "implicit-arrow-linebreak": 0,
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "max-len": ["error", 120],
    "no-magic-numbers": ["error", {"ignore": [0]}],
    "one-var": ["error", {"const": "never"}],
    "operator-linebreak": ["error", "after"],
    "padded-blocks": ["error", {"blocks": "never", "classes": "always", "switches": "never"}],
    "quotes": ["error", "single"],
    "quote-props": ["error", "consistent-as-needed"],
    "react/jsx-indent": ["error", 2],
    "react/jsx-indent-props": ["error", 2],
    "react/jsx-max-depth": ["error", {"max": 4}],
    "react/jsx-wrap-multilines": [1, {"declaration": true, "assignment": true, "return": true, "arrow": false}],
    "react/jsx-filename-extension": ["error", {"extensions": [".js", ".jsx"]}],
    "require-jsdoc": 0,
    "semi": ["error", "never"],
  },
}
